@mixin clear {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

@mixin action-border($color) {
	border: 2px solid $color;
}


@mixin inline-block {
	display: inline-block;
	vertical-align: top;
}
